

<!-- forgot password -->

<div class="login-container">
    <header class="login__header">
      <div class="login__header__left">
        <img alt="logo" src="assets/fb-logo-1.jpg">
      </div>
      <div class="login__header__right">
        <mat-card class="login__header__right__card">
          <mat-card-content class="login__header__right__card__content" style="padding-top: 49px;">
            <h2>Forgot Password</h2>

            <form class="login-form " [formGroup]="forgotPassword" (ngSubmit)="submit()">
  
              <input name="email" formControlName="email" placeholder="Email address or phone number" required
                type="text">
                <div *ngIf="formSubmitted && formFields['email'].hasError('required')" class="error-info">
                  email is required
              </div>
              <div *ngIf="formSubmitted && formFields['email'].hasError('pattern')" class="error-info">
                Invalid email
            </div>

            <p *ngIf="message" style="color: green;">{{message}}</p>
              <button  class="login-button" 
                type="submit">Submit
              </button>
            </form>
  
            <a [routerLink]="['']">Login?</a>
          </mat-card-content>
  
        </mat-card>
      </div>
    </header>
  </div>


