<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <img mat-card-avatar src="assets/fb-head.jpg" (click)="backToHomePage()"/>
      <div class="input">
        <mat-icon class="search-icon">search_outline</mat-icon>
        <form>
          <div>
          <input
            type="text"
            name="searchUser"
            [(ngModel)]="searchUser"
            (ngModelChange)="getFilteredList()"
           
            (keyup)="onKeyPress($event)"
            [ngClass]="{ error: showError }"
            />
            <ul class="search-class" *ngIf="!listHidden">
               <li  *ngFor="let item of filteredList; let i = index"
              [ngClass]="{ selected: i === selectedIndex }" (click)="viewUserProfile(i)"
              > <img alt="" *ngIf="item.user?.profilePhoto === null && item.user?.gender =='male'" style="height:20px" mat-card-avatar src="../../assets/avatar.png">
              <img alt="" *ngIf="(item.user?.profilePhoto === null &&  item.user?.gender =='female' ) || item.user?.gender == null" style="height:20px" mat-card-avatar src="../../assets/female-avatar.png"> 
              <img alt="" *ngIf="item.user?.profilePhoto !== null" style="height:20px" mat-card-avatar src="{{item?.user?.profilePhoto}}"> 

              {{ item.user.firstName }} {{item.user.lastName}}</li>
            </ul>
          </div>
        </form>
      </div>

    </div>
    <div class="home__header__middle">
      <div class="active">
        <mat-icon>home </mat-icon> &nbsp; &nbsp;
      </div>
    </div>
    <div class="home__header__right">
      <!-- profile should come here -->
      <div>
        <img alt=""  *ngIf="(user?.profilePhoto === null && user?.gender =='female')" mat-card-avatar style="height:25px;" src="../../assets/female-avatar.png">
        <img alt="" *ngIf="(user?.profilePhoto === null && user?.gender =='male')" mat-card-avatar src="../../assets/avatar.png">
        <img alt="" *ngIf="user?.profilePhoto !== null" mat-card-avatar src="{{user?.profilePhoto}}">
        <span class="name">{{ user?.firstName }} {{ user?.lastName }}</span>
      </div>
      <div>
        <mat-icon>add</mat-icon>
      </div>
      <!-- logout button -->
      <div>
        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="userProfile()" style="cursor: pointer;">
            <mat-icon>account_circle</mat-icon> Edit Profile
          </button>
          <button mat-menu-item (click)="changePassword()" style="cursor: pointer;">
            <mat-icon>vpn_key</mat-icon> Change Password
          </button>
          <button mat-menu-item (click)="logout()" style="cursor: pointer;">
            <mat-icon>exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>
      </div>

    </div>
  </div>

  <div class="home__body">
    <div class="inside">      
      <div class="user-avatar" (click)="userProfile()" style="cursor: pointer;">
        <img alt=""  *ngIf="(user?.profilePhoto === null && user?.gender =='female')" mat-card-avatar style="height:25px;" src="../../assets/female-avatar.png">
        <img alt="" *ngIf="(user?.profilePhoto === null && user?.gender =='male')" mat-card-avatar src="../../assets/avatar.png">
        <img alt="" *ngIf="user?.profilePhoto !== null" mat-card-avatar src="{{user?.profilePhoto}}">
         <span class="name">{{ user?.firstName }} {{ user?.lastName }}</span>
      </div>
      <div style="cursor: pointer;">
        <mat-icon>people</mat-icon>
        <span>Friends</span>
      </div>
      <div (click)="userProfile()" style="cursor: pointer;">
        <mat-icon>account_circle</mat-icon>
        <span>Edit Profile</span>
      </div>
      <div (click)="changePassword()" style="cursor: pointer;">
        <mat-icon>vpn_key</mat-icon>
        <span>Change Password</span>
      </div>
    </div>
    <div class="posts-section">
      <!-- post create start -->
      <div class="post-create">
        <div class="home__body__contentMiddle__center">
          <mat-card class="post-content">
            <mat-card-header class="post-content-header"
              style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
              <img alt="img" mat-card-avatar src="../../assets/avatar.png">
              <form #form="ngForm" style="width:100%">
                <textarea style="width: 100%;
                  height: 107px;
                  padding: 3px 6px;" class="on-your-mind" name="content" [(ngModel)]="content"
                  placeholder="What's on your mind?" type="text">
                  </textarea>
                <button style="display: none;" type="submit"></button>
              </form>
  
            </mat-card-header>
            <mat-card-content class="card-body">
              <div (click)="uploadFile.click()">
                <button mat-raised-button color="primary"> 
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input #uploadFile accept="video/*,image/*" (change)="onSelectFile($event)" type='file'
                  style="display:none" />
              </div>
            </mat-card-content>
            <span *ngIf="uploadfileData">{{uploadfileData?.name}}</span>
            <div style="display:flex;justify-content:end">
              <button mat-raised-button color="primary" (click)="createPost()">Create Post</button>
            </div>
          </mat-card>
  
        </div>
      </div>
      <!-- post create end -->
      <mat-card *ngFor="let p of posts; let i = index" class="posts">
        <mat-card-header style = "cursor:pointer" class="posts__header">
          <img alt="{{ p.user_name }}" mat-card-avatar [src]="p.avatar" (click)="viewUserProfile(p)">
          <div class="posts__header__right">
            <h3 (click)="viewUserProfile(p)" class="hyperlink">{{ p.user_name }}
             </h3>
            <span>{{ p.time.seconds * 1000 | date:'shortTime' }}</span>
          </div>
        </mat-card-header>
        <mat-card-content class="posts__body" style="display: flex;
            flex-direction: column;
            justify-content: center;">
          <p>{{ p.content }}</p>
          <img [src]="p.media.url" style="object-fit: contain;" *ngIf="p.media.type ==='image' && p.media.url"
            height="200"> <br />
          <video [src]="p.media.url" style="object-fit: contain;" *ngIf="p.media.type==='video' && url" height="200"
            controls></video> <br />

          <div style="border-bottom: 1px solid;
              margin-bottom: 9px;">
          </div>
          <!-- like for a comment -->
          <div class="post-bottom">
            <div class="inner-sec" (click)="likeOrDelike(p)"> {{p.likes.length}}
              <mat-icon  [ngClass]="{'primary': p.is_liked ,'red': !p.is_liked }">thumb_up</mat-icon>
              <span>Like</span>
            </div>

            <div class="inner-sec" (click)="p.is_show_comments=!p.is_show_comments"> {{p.comments.length}}
              <mat-icon color="primary">comment</mat-icon>
              <span>Comments</span>
            </div>

          </div>
        </mat-card-content>

        <mat-card-content class="posts_body" style="border-top: 1px solid;
        padding: 17px 0;" *ngIf="p.is_show_comments">
          <div style="display: flex; gap: 13px; align-items: center; padding: 3px 19px;">
            <img alt="img" mat-card-avatar src="../../assets/avatar.png">
            <input style="    width: 100%;
            padding: 7px 5px;
            border-radius: 14px;" placeholder="add comments" [(ngModel)]="p.comment"/>
            <span><button mat-button color="info" (click)="addComment(p,p.comment)">Add Comment</button></span>
          </div>
          <mat-card  *ngFor="let c of (more ? p.comments : (p.comments|slice:0:2))">
                <div class="posts__header">
                  <div style="display: flex;gap:14px">
                    <img alt="img" mat-card-avatar src="../../assets/avatar.png">
                    <div>
                      <h4 style="margin: auto;">{{ c.title }}</h4>
                      <span>{{ c.time.seconds * 1000 | date:'shortTime' }}</span>
                    </div>
                  </div>
                  <p style="padding-top: 5px;">{{ c.comment }}</p> 
                </div> 
          </mat-card>
          <button mat-button color="info" (click)="more = !more">{{ more ? 'viewless' : 'viewAll' }}</button>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!posts.length">
        <p>No Posts Found</p>
      </mat-card>
    </div>
    
  </div>
</div>